.gameOption {
  border: 2px solid white;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.gameOption:hover {
  border: 2px solid #0096C7;
  transition: all 0.25s ease-out;
}

.winner {
  border: 2px solid greenyellow;
}

.draw {
  border: 2px solid red;
}